.cabecalho {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}


.cabecalho__perfil::before{
    content: url(/assets/img/logo.svg);
    margin-right: 5px;
    display: inline-block;
    width: 16%;
    vertical-align: sub;
}

.menu__desktop {
    display: none;
}

.cabecalho__perfil {
    color: var(--preto-titulos);
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
}

.cabecalho__contato {
    color: var(--preto--titulos);
    font-size: 0.8rem;

}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 1rem 3rem;
    }

    .cabecalho__contato {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {

    .cabecalho {
        padding: 2rem 10rem;
    }

    .menu {
        display: flex;
    }

    .menu__desktop {
        display: flex;
    }

    .menu__link {
        text-decoration: none;
        color: var(--preto-descricao);
        font-weight: 500;
        font-size: 1rem;
        margin-right: 2rem;
    }
    
}