.formacao {
    background-color: var(--fundo-azul);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.formacao1::before {
    /* content: url(/assets/img/ifes-logo.svg); */
    text-align: center;
    padding: 5rem 1rem
}

.formacao2::before {
    /* content: url(/assets/img/unip-logo.png); */
    text-align: center;
}

.formacao3::before {
    /* content: url(/assets/img/logo-alura.svg); */
    text-align: center;
    padding: 6rem 1rem;
}

@media screen and (min-width: 768px) {
    .formacao {
        padding: 1rem 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .formacao {
        padding: 2rem 10rem;
    }
}
