.hobbies {
    background-color: var(--fundo-cinza);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hobbies__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 43%;
    margin-top: 1rem;
    padding-top: 3rem;
    padding-left: 1rem;
}

.rotulo-fotografia::before {
    content: url(/assets/img/camera.svg);
    margin-bottom: 1rem;
}

.rotulo-ouvir-musica::before {
    content: url(/assets/img/fone.svg);
    margin-bottom: 1rem;
}

.rotulo-assistir-filme::before {
    content: url(/assets/img/tv.svg);
    margin-bottom: 1rem;
}


@media screen and (min-width: 768px) {
    .hobbies {
        padding: 1rem 3rem;
    }

    .hobbies__item {
        width: 30%;
    }
    
}

@media screen and (min-width: 1440px) {
    .hobbies {
        padding: 2rem 10rem;
    }

    .hobbies__item {
        width: 20%;
    }

    
}